/* montserrat-500 - cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: local(''),
       url('../fonts/montserrat-v18-cyrillic-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/montserrat-v18-cyrillic-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-regular - cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../fonts/montserrat-v18-cyrillic-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/montserrat-v18-cyrillic-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* oswald-500 - cyrillic */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 500;
  src: local(''),
       url('../fonts/oswald-v40-cyrillic-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/oswald-v40-cyrillic-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* Общие стили */
* {
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  width: 1280px;
}

.btn-text {
  display: inline-block;
  align-items: center;
  text-decoration: none;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
  padding-left: 122px;
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  padding: 8px 41px;
  border-radius: 4px;
  background-color: #ffffff;
  color: #060D10;
  border: 2 px
  solid #ffffff;
  cursor: pointer;
}

.img-logo {
  display: flex;
  align-items: center;
}

.btn-phone {
  /* padding-right: 81px; */
  font-family: 'Montserrat', sans-serif;
  font-size: 28px;
  color: #060D10;
  display: inline-block;
  align-items: center;
  text-decoration: none;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
  padding-left: 122px;
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  padding: 8px 41px;
  /* border-radius: 4px;
  background-color: rgba (0,0,0,0);
  border: 2px;
  border-style: solid;
  solid #ffffff; */
  cursor: pointer;
}

/* Шапка сайта */
.header {
  padding: 31px 0;
  background-color: #66D1FF;
}

.header-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* main */
.promo {
  text-align: center;
  background-image: url(../images/promo.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.promo-bg-fade {
  padding: 230px 0;
  background-color: rgba(6, 13, 16, .25);
}

.promo-info {
  margin-left: 50px;
  margin-right: 50px;
  font-family: 'Montserrat', sans-serif;
  font-size: 32px;
  color: #ffffff;
  text-shadow: 1px 1px 2px #060D10;
}

/* section */

h1 {
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  font-size: 60px;
  color: #ffffff;
  text-shadow: 1px 1px 2px #060D10;
}

h2 {
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  font-size: 48px;
  color: rgba(6, 13, 16, 1);
}

h3 {
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  font-size: 32px;
  color: #060D10;
}



.advantages-list {
  display: flex;
  flex-wrap: wrap;
}

.advantages-item {
  width: 33.33%;
}

.advantages-text {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-size: 26px;
  color: #060D10;
}

.btn-bottom {
  font-family: 'Montserrat', sans-serif;
  font-size: 36px;
  color: #060D10;
}

/* footer */
.btn-footer {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  color: #ffffff;
}

.copyright {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  color: #ffffff;
}
