/* montserrat-500 - cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: local(''),
       url('../fonts/montserrat-v18-cyrillic-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/montserrat-v18-cyrillic-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-regular - cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../fonts/montserrat-v18-cyrillic-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/montserrat-v18-cyrillic-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* oswald-500 - cyrillic */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 500;
  src: local(''),
       url('../fonts/oswald-v40-cyrillic-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/oswald-v40-cyrillic-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* Общие стили */
* {
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  width: 1280px;
}

main {
  background-color: rgba(102, 209, 255, .1);
  /* background-image: linear-gradient(208.35deg, rgba(102, 209, 255, .1) 43.85%, rgba(196, 196, 196, 0) 43.86%); */
}

.btn-text {
  display: inline-block;
  align-items: center;
  text-decoration: none;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
  padding-left: 122px;
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  padding: 8px 41px;
  border-radius: 4px;
  background-color: #ffffff;
  color: #060D10;
  border: 2 px
  solid #ffffff;
  cursor: pointer;
}

.img-logo {
  display: flex;
  align-items: center;
}

.btn-phone {
  font-family: 'Montserrat', sans-serif;
  color: #060D10;
  display: inline-block;
  align-items: center;
  text-decoration: none;
  justify-content: center;
  padding-left: 122px;
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  padding: 8px 41px;
  cursor: pointer;
}


/* Шапка сайта */
.header {
  padding: 31px 0;
  background-color: #66d1ff;
}

.header-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


/* main */
.promo {
  text-align: center;
  background-image: url(../images/promo.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.promo-bg-fade {
  padding: 230px 0;
  background-color: rgba(6, 13, 16, .25);
}

.promo-info {
  margin-left: 50px;
  margin-right: 50px;
  font-family: 'Montserrat', sans-serif;
  font-size: 32px;
  color: #ffffff;
  text-shadow: 1px 1px 2px #060D10;
}


/* advantages */
.advantages {
  padding: 170px 0;
  background-color:rgba(102, 209, 255, 0.1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
}

h1 {
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  font-size: 60px;
  color: #ffffff;
  text-shadow: 1px 1px 2px #060D10;
}

h2 {
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  font-size: 48px;
  color: rgba(6, 13, 16, 1);
  text-align: center;
  margin-top: 0;
  margin-bottom: 67px;
}

.two-title {
  padding-top: 170px;
  padding-bottom: 60px;
  margin: 0;
}
h3 {
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  font-size: 32px;
  color: #060D10;
  margin-bottom: 25px;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 0;

}

p {
  margin-top: 0px;
  margin-bottom: 0px;
}

.advantages-item {
  width: 33.33%;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 35px 15px;
}

.advantages-text {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-size: 26px;
  color: #060D10;
}


/* thumbs */
.thumbs-content {
  text-align: center;
  padding-bottom: 180px;
  background-image: linear-gradient(208.35deg, rgba(102, 209, 255, .1) 43.85%, rgba(196, 196, 196, 0) 43.86%);
}

.visual-row {
   display: flex;
   justify-content: space-around;
   padding-top: 130px;
   list-style-type: none;
   margin: 0;
 }

 .btn-bottom {
  font-family: 'Montserrat', sans-serif;
  font-size: 36px;
  color: #060D10;
  display: inline-block;
  align-items: center;
  text-decoration: none;
  padding-left: 122px;
  font-weight: 500;
  padding: 20px 107px 22px 108px;
  cursor: pointer;
  border: 2px solid;
  border-radius: 4px;
}

.visual-row {
  padding-left: 0;
  justify-content: space-between;
}

.about-pic {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
 }




/* footer */
.footer {
  background-color: #060D10;
}

.footer-wrap {
  display: flex;
  align-items: center;
  padding-left: 50px;
}

.btn-footer {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  color: #ffffff;
  text-decoration: none;
}

.social-icons {
    display: flex;
    padding: 35px 623px 35px 50px;
    margin: 0;
}

.social-item {
  list-style-type: none;
  margin-right: 20px;
}

.social-link {
  display: flex;
  width: 35px;
  height: 35px;
  justify-content: space-between;
}

.social-text {
  font-size: 1px;
  opacity: 0;
}


.copyright {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  color: #ffffff;
}
